<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/public/images/lady gaga_1.jpg" width="10%">
    <h1>新闻列表数据 {{msg}} {{ helper.foo() }}</h1>
    <ul>
        {% for item in list %}
        <li><a href="/newscontent?aid={{item.aid}}">{{ item.title }}</a>
            <span>---{{ item.dateline}}</span>
        </li>
        {% endfor %}
    </ul>
</body>
</html>